
.vs/Lab1 wspolbiezne/v15/.suo
.vs/Lab1 wspolbiezne/v15/Browse.VC.db
.vs/Lab1 wspolbiezne/v15/Browse.VC.opendb
.vs/Lab1 wspolbiezne/v15/ipch/2d9e0f2bdb9efbee.ipch
.vs/Lab1 wspolbiezne/v15/ipch/AutoPCH/22f9e470095030bd/MAIN.ipch
Debug/Lab1 wspolbiezne.exe
Debug/Lab1 wspolbiezne.ilk
Debug/Lab1 wspolbiezne.pdb
Lab1 wspolbiezne.sln
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.log
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.obj
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.pch
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/CL.command.1.tlog
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/CL.read.1.tlog
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/CL.write.1.tlog
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/Lab1 wspolbiezne.lastbuildstate
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/link.command.1.tlog
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/link.read.1.tlog
Lab1 wspolbiezne/Debug/Lab1 wspolbiezne.tlog/link.write.1.tlog
Lab1 wspolbiezne/Debug/MatrixCalculator.obj
Lab1 wspolbiezne/Debug/pch.obj
Lab1 wspolbiezne/Debug/vc141.idb
Lab1 wspolbiezne/Debug/vc141.pdb
